services:
  backend:
    build: .
    env_file: .env
    environment:
      POSTGRES_HOST: db
      REDIS_URL: redis://redis:6379
    command: bash -c "python manage.py migrate && python manage.py csu && python manage.py collectstatic -c --no-input && python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    volumes:
      - django_static:/app/static/

  db:
    image: postgres:15.1-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data/
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}
      interval: 3s
      timeout: 3s
      retries: 10

  redis:
    image: redis:6.2.4-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: redis-cli ping
      interval: 1s
      timeout: 1s
      retries: 5

  celery_worker:
    build: .
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
    environment:
      POSTGRES_HOST: db
      REDIS_URL: redis://redis:6379
    env_file:
      - .env
    depends_on:
      - backend
      - db
      - redis
    restart: unless-stopped

  celery_beat:
    build: .
    command: celery -A config beat --loglevel=info
    environment:
      POSTGRES_HOST: db
      REDIS_URL: redis://redis:6379
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - backend
      - db
      - redis
    restart: unless-stopped

  web:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    depends_on:
      - backend
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - django_static:/usr/share/nginx/html/static/

volumes:
  pg_data:
  django_static: